<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view cache-view="false" view-title="{{gameDetails.name}}">
  <ion-content ng-controller="GameDetailCtrl"  class="padding">

    <!-- Images don't load fast enough on mobile -->
    <!-- <img ng-src="{{gameDetails.image}}" alt="No image available!"> -->
    <h4>Gameplay mechanics:</h4>
    <div ng-repeat="mechanic in gameDetails.mechanics">
      <h5>{{mechanic}}</h5>
    </div>
    <div>Players: {{gameDetails.minPlayers}} - {{gameDetails.maxPlayers}}</div>
    <div>Playing Time: {{gameDetails.playingTime}}</div>
    <h6>Designer(s):</h6>
    <div ng-repeat='designer in gameDetails.designers'>
      <h6>{{designer}}</h6>
    </div>
    <!-- <pre> -->
      <div class='needBreaks'>
        {{gameDetails.description}}
    </div>
  <!-- </pre> -->
    <h6>Expansions:</h6>
      <h6 ng-repeat='exp in gameDetails.expansions'>{{exp.name}}</h6>
  </ion-content>
</ion-view>
