<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>BoardGameGeek Search</h2>
    <p>
    Instructions: Click on the search button and input a game you'd like info about.
    </p>
    <p>
      You'll get a list of possible matches. Swipe left on a possible match and click "Get Details" to view more info about the game!
    </p>
    <p>
      Sometimes pages can take a bit to load, so be patient!
    </p>
    <p>Remember: Some games don't have pictures, or detailed descriptions!</p>
  </ion-content>
</ion-view>
